<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="emf.bankingsystem.presentation.BankingsystemModelWizardID"
            name="%_UI_BankingsystemModelWizard_label"
            class="emf.bankingsystem.presentation.BankingsystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BankingsystemModelFile.gif">
         <description>%_UI_BankingsystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="emf.bankingsystem.presentation.BankingsystemEditorID"
            name="%_UI_BankingsystemEditor_label"
            icon="icons/full/obj16/BankingsystemModelFile.gif"
            extensions="bankingsystem"
            class="emf.bankingsystem.presentation.BankingsystemEditor"
            contributorClass="emf.bankingsystem.presentation.BankingsystemActionBarContributor">
      </editor>
   </extension>

</plugin>
