<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.imm.dtu.dk/vendingmachine/brewers/1.0"
            class="example.emf.vendingmachinebrewers.VendingmachinebrewersPackage"
            genModel="model/VendingMachineBrewers.genmodel"/>
   </extension>

   <extension
         point="dk.dtu.imm.se.ecno.eclipse.package_adapter_factory">
      <adapter_factory
            class="example.ecno.vendingmachine.brewer.coordination.VendingMachineFactory"
            uri="example.ecno.vendingmachine.brewers">
      </adapter_factory>
   </extension>

</plugin>
