<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "PetriNets" 
       class = "PetriNets.PetriNetsPackage"
       genModel = "model/PetriNet.genmodel" /> 
  </extension>
  <extension
        point="dk.dtu.imm.se.ecno.eclipse.package_adapter_factory">
     <adapter_factory
           class="dk.dtu.imm.se.ecno.example.petrinets.coordination.PetrinetsModelFactory"
           uri="PetriNets.ECNO">
     </adapter_factory>
  </extension>
  
  
</plugin>
